:root {
  --mainBrown: #2d1e1f;
  --mainYellow: #ff9e09;
  --mainGrey: #ece8dc;
  --mainWhite: #fff;
  --mainDark: #000;
}
body {
  background: var(--mainWhite);
  color: var(--mainDark);
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Courier New", Courier, monospace !important;
  letter-spacing: 0.25rem !important;
}
.nav-bar-text{
  font-family: Arial, Helvetica, sans-serif;
  color:var(--mainYellow) !important;
  display: block;
    padding: .5rem 1rem
}


.text-yellow {
  color: var(--mainYellow) !important;
}
.title {
  letter-spacing: 0.3rem;
  font-weight: 200 bold ;
  text-decoration: #ece8dc ;
  font-family: Courier!important;
}
.cart-icon {
  cursor: pointer;
  color: var(--mainYellow);
  font-size: 2rem;
}
.btn-yellow {
  color: var(--mainYellow) !important;
  border-color: var(--mainYellow) !important;
}
.btn-yellow:hover {
  background: var(--mainYellow) !important;
  color: var(--mainDark) !important;
}



.default-background {
  min-height: 100vh;
  display: flex;
  align-items: center;
  font-size: large;
  justify-content: center;
  background: linear-gradient(rgba(65, 53, 37, 0.5), rgba(255, 158, 9, 0.5));
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.about-background {
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(255, 158, 9, 0.5), rgba(255, 158, 9, 0.5));
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.menu {
  background: var(--mainGrey);
}
.contact {
  background: var(--mainGrey);
}
/*---------------------------------------------------*/

.footer {
  background-repeat: no-repeat;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background: #1A0D01;
  position: relative;
  z-index: 9;
}

/* line 9, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_footer.scss */
.footer .footer_top {
  padding-top: 145px;
  padding-bottom: 129px;
}

@media (max-width: 767px) {
  /* line 9, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_footer.scss */
  .footer .footer_top {
    padding-top: 60px;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  /* line 16, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_footer.scss */
  .footer .footer_top .footer_widget {
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 16, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_footer.scss */
  .footer .footer_top .footer_widget {
    margin-bottom: 30px;
  }
}

/* line 23, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget .footer_title {
  font-size: 18px;
  font-weight: 500;
  color: #DB9A64;
  text-transform: capitalize;
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  /* line 23, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_footer.scss */
  .footer .footer_top .footer_widget .footer_title {
    margin-bottom: 20px;
  }
}

/* line 33, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget .footer_logo {
  font-size: 22px;
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  /* line 33, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_footer.scss */
  .footer .footer_top .footer_widget .footer_logo {
    margin-bottom: 20px;
  }
}

/* line 43, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget p {
  color: #919191;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
}

/* line 49, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget p a {
  color: #919191;
}

/* line 51, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget p a:hover {
  color: #DB9A64;
}

/* line 57, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget p.footer_text {
  font-size: 16px;
  color: #B2B2B2;
  margin-bottom: 23px;
  font-weight: 400;
  line-height: 28px;
}

/* line 63, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget p.footer_text a.domain {
  color: #B2B2B2;
  font-weight: 400;
}

/* line 66, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget p.footer_text a.domain:hover {
  color: #DB9A64;
  border-bottom: 1px solid #DB9A64;
}

/* line 72, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget p.footer_text.doanar a {
  font-weight: 500;
  color: #B2B2B2;
}

/* line 76, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget p.footer_text.doanar a:hover {
  color: #DB9A64;
  border-bottom: 1px solid #DB9A64;
}

/* line 80, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget p.footer_text.doanar a.first {
  margin-bottom: 10px;
}

/* line 88, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget ul li {
  color: #ACACAC;
  font-size: 14px;
  line-height: 36px;
}

/* line 92, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget ul li a {
  color: #919191;
  font-weight: 400;
}

/* line 95, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget ul li a:hover {
  color: #DB9A64;
}

/* line 101, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget .newsletter_form {
  position: relative;
  margin-bottom: 20px;
}

/* line 104, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget .newsletter_form input {
  width: 100%;
  height: 50px;
  background: #F5FBFF;
  padding-left: 20px;
  font-size: 15px;
  color: #000;
  border: none;
  border: 1px solid #E8E8E8;
  border-radius: 30px;
}

/* line 114, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget .newsletter_form input::placeholder {
  font-size: 15px;
  color: #919191;
}

/* line 118, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget .newsletter_form input:focus {
  outline: none;
}

/* line 122, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget .newsletter_form button {
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  border: none;
  font-size: 14px;
  color: #fff;
  background: #DB9A64;
  padding: 10px;
  padding: 0 22px;
  cursor: pointer;
  border-radius: 30px;
  top: 5px;
  right: 5px;
  font-size: 14px;
  font-weight: 500;
}

/* line 141, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget .newsletter_text {
  font-size: 14px;
  color: #919191;
  line-height: 26px;
}

/* line 148, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_footer.scss */
.footer .copy-right_text {
  padding-bottom: 30px;
}

/* line 150, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_footer.scss */
.footer .copy-right_text .footer_border {
  border-top: 1px solid #31261B;
  padding-bottom: 30px;
}

/* line 154, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_footer.scss */
.footer .copy-right_text .copy_right {
  font-size: 15px;
  color: #919191;
  margin-bottom: 0;
  font-weight: 500;
}

@media (max-width: 767px) {
  /* line 154, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_footer.scss */
  .footer .copy-right_text .copy_right {
    font-size: 14px;
  }
}

/* line 162, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_footer.scss */
.footer .copy-right_text .copy_right a {
  color: #DB9A64;
}

/* line 167, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_footer.scss */
.footer .socail_links {
  margin-top: 47px;
}

@media (max-width: 767px) {
  /* line 167, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_footer.scss */
  .footer .socail_links {
    margin-top: 30px;
  }
}

/* line 173, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_footer.scss */
.footer .socail_links ul li {
  display: inline-block;
}

/* line 176, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_footer.scss */
.footer .socail_links ul li a {
  font-size: 15px;
  color: #C3B2F0;
  width: 30px;
  display: inline-block;
  text-align: center;
  background: transparent;
  margin-right: 7px;
  color: #FFFFFF;
  line-height: 40px !important;
  color: #E8E8E8;
}

/* line 191, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_footer.scss */
.footer .socail_links ul li a:hover {
  color: #DB9A64 !important;
  border-color: transparent;
}

/*=================== contact banner start ====================*/
/* line 3, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_contact.scss */
.dropdown .dropdown-menu {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

/* line 10, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_contact.scss */
.contact-info {
  margin-bottom: 25px;
}

/* line 13, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_contact.scss */
.contact-info__icon {
  margin-right: 20px;
}

/* line 16, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_contact.scss */
.contact-info__icon i, .contact-info__icon span {
  color: #8f9195;
  font-size: 27px;
}

/* line 24, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_contact.scss */
.contact-info .media-body h3 {
  font-size: 16px;
  margin-bottom: 0;
  font-size: 16px;
  color: #2a2a2a;
}

/* line 30, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_contact.scss */
.contact-info .media-body h3 a:hover {
  color: #ff5e13;
}

/* line 36, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_contact.scss */
.contact-info .media-body p {
  color: #8a8a8a;
}

/*=================== contact banner end ====================*/
/*=================== contact form start ====================*/
/* line 45, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_contact.scss */
.contact-title {
  font-size: 27px;
  font-weight: 600;
  margin-bottom: 20px;
}

/* line 53, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_contact.scss */
.form-contact label {
  font-size: 14px;
}

/* line 57, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_contact.scss */
.form-contact .form-group {
  margin-bottom: 30px;
}

/* line 61, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_contact.scss */
.form-contact .form-control {
  border: 1px solid #e5e6e9;
  border-radius: 0px;
  height: 48px;
  padding-left: 18px;
  font-size: 13px;
  background: transparent;
}

/* line 69, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_contact.scss */
.form-contact .form-control:focus {
  outline: 0;
  box-shadow: none;
}

/* line 74, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_contact.scss */
.form-contact .form-control::placeholder {
  font-weight: 300;
  color: #999999;
}

/* line 80, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_contact.scss */
.form-contact textarea {
  border-radius: 0px;
  height: 100% !important;
}

/*=================== contact form end ====================*/
/* Contact Success and error Area css
============================================================================================ */
/* line 97, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_contact.scss */
.modal-message .modal-dialog {
  position: absolute;
  top: 36%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) !important;
  margin: 0px;
  max-width: 500px;
  width: 100%;
}

/* line 106, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_contact.scss */
.modal-message .modal-dialog .modal-content .modal-header {
  text-align: center;
  display: block;
  border-bottom: none;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* line 112, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_contact.scss */
.modal-message .modal-dialog .modal-content .modal-header .close {
  position: absolute;
  right: -15px;
  top: -15px;
  padding: 0px;
  color: #fff;
  opacity: 1;
  cursor: pointer;
}

/* line 121, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_contact.scss */
.modal-message .modal-dialog .modal-content .modal-header h2 {
  display: block;
  text-align: center;
  padding-bottom: 10px;
}

/* line 126, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_contact.scss */
.modal-message .modal-dialog .modal-content .modal-header p {
  display: block;
}

/* line 133, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_contact.scss */
.contact-section {
  padding: 130px 0 100px;
}

@media (max-width: 991px) {
  /* line 133, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_contact.scss */
  .contact-section {
    padding: 70px 0 40px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 133, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_contact.scss */
  .contact-section {
    padding: 80px 0 50px;
  }
}

/* line 141, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_contact.scss */
.contact-section .btn_2 {
  background-color: #191d34;
  padding: 18px 60px;
  border-radius: 50px;
  margin-top: 0;
}

/* line 146, ../../Arafath/CL/Cl November/225. Restaurant-02/HTML/scss/_contact.scss */
.contact-section .btn_2:hover {
  background-color: #ff5e13;
}

